html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}
thead, tbody, tfoot { vertical-align: middle } 
td, th, tr { vertical-align: inherit }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height: 100vh;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}

/* end of reset */
button {
	cursor : grab;
	background-color: transparent;
	border-width: 0;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding : 0;
}
.pop-up-buttons {
	display: flex;
	flex-direction: row;
	gap : 20px;
	margin-top: 10px;
}

input[type=text].project {
	box-sizing: border-box;
	width : 100%;
	border-radius: 4px;
	height: 35px;

}
.add-button {
	width:100%;
	border: 1px solid #99dd99;
    background-color: #aaffaa;
    font-weight: bold;
	width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.cancel-button {
	width:100%;
	border: 1px solid #e4577a;
    background-color: #ffbebe;
    font-weight: bold;
	width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
header {
	height: 100px;
	background-color: #FCDC69;
	display: flex;
	align-items: center;
	padding: 50px;
}
main {
	display: flex;
	height: calc(100% - 100px);
}
nav {
	background-color: #FFF7D8;
	min-width: 300px;
	padding: 30px;
}
nav h2 {
	padding-bottom: 20px;
}
li {
	padding: 0 0 15px 15px;
}
.content {
	flex-grow: 1;
}

.content-display {
	width: 60%;
	margin : 50px auto;
}
.task-title {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #FCDC69;
	padding : 10px 20px;
	font-size: 1.4em;
	font-weight: 700;
}
.task {
	padding: 10px 20px;
	display: flex;
	gap: 10px;
	border-bottom: 1px solid #FCDC69 ;
}
.task-name {
	flex-grow: 1;
}